
<h1>@ViewData["Title"]</h1>

@{
    ViewData["Title"] = "בריא-לי";
}


<div class="text-center">
    <h1 class="display-4">בריא-לי</h1>


    <aside align=right>
        <p>

            <label for="User Id">מספר תעודת זהות</label>
            <br>
            <input name="User Id" id="מספר תעודת זהות" type="text" required />

        </p>
        <p>

            <label for="Password">סיסמה</label>
            <br>
            <input name="Password" id="סיסמה" type="text" required />

        </p>
    </aside>



    <footer>
        <label for="Phone Number">מספר טלפון: 03-9793523</label>
        <br>
        <label for="Fax">מספר פקס: 03-9793522</label>
        <br>
        <label for="Mail"> Info@BariLi.co.il :אימייל</label>
        <br>
        <label for="Address">כתובת: הבריאים 32, רמת החייל, תל אביב</label>
        <br>

    </footer>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

