@{
    ViewData["Title"] = "Home Page122";
}


<div class="text-center">
    <h1 class="display-4">Welcome112312</h1>
    check!!fsdf
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
